/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

html, body {
  scroll-padding-top: 70px;
  scroll-behavior: smooth;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0000A0;
  --ifm-color-primary-dark: #C0D0E0;
  --ifm-color-primary-darker: #a1852b;
  --ifm-color-primary-darkest: #705d1d;
  --ifm-color-primary-light: #35aca4;
  --ifm-color-primary-lighter: #3bbab3;
  --ifm-color-primary-lightest: #5bc8c1;
  --ifm-code-font-size: 95%;
  --ifm-navbar-item-padding-horizontal: 1rem;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

html[data-theme="dark"] {
  --ifm-background-color: #142534;
  --ifm-navbar-background-color: #0B1D28;
  --ifm-footer2-background-color: #0B1D28;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #64FFDA;
  --ifm-color-emphasis-100: #000;
  --ifm-background-color: #000;
  --ifm-color-primary-dark: #23394E;
  --ifm-color-primary-darker: #6A9955;
  --ifm-color-primary-darkest: #608A4D;
  --ifm-color-primary-light: #BFC1CF;
  --ifm-color-primary-lighter: #CCD6F7;
  --ifm-color-primary-lightest: #CCD6F7;
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.1);
}

.bg-code-block, .prism-code code {
  background-color: #0C1C26;
}

.navbar__brand {
  margin-right: 2rem;
}
.navbar__logo {
  background-color: var(--ifm-navbar-background-color);
  border-radius: 5px;
  padding: 5px;
}

.item {
  margin-bottom: 50px;
}

.text-md {
  font-size: 1.1rem;
  margin: 0 0 6px 0;
}

.text-sm {
  font-size: 0.9rem;
  margin: 0 0 6px 0;
}

.text-black {
  color: #000;
}

.column-list {
  column-count: 4;
}

.column-list li {
  break-inside: avoid;
  white-space: nowrap;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.flex, .c-row {
  display: flex;
}

.flex-wrap, .c-row {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.column-gap, .c-row {
  column-gap: 1rem;
}

.c-row.c-grid-4 > * {
  width: calc(25% - 1rem);
}

nav ul, nav ul li, .search-modal ul, .search-modal ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.absolute {
  position: absolute;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.w-1\/2 {
  width: 50%;
}

.column-gap .w-1\/2 {
  width: calc(50% - 0.5rem);
}


.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.headline-1, .headline-2, .headline-3, .headline-4, .headline-5, .headline-6 {
  color: var(--ifm-heading-color);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}

.headline-1 {
  font-size: var(--ifm-h1-font-size);
}

.headline-2 {
  font-size: var(--ifm-h2-font-size);
}

.headline-3 {
  font-size: var(--ifm-h3-font-size);
}

.headline-4 {
  font-size: var(--ifm-h4-font-size);
}

.headline-5 {
  font-size: var(--ifm-h5-font-size);
}

.headline-6 {
  font-size: var(--ifm-h6-font-size);
  text-transform: uppercase;
}

.pre {
  box-sizing: border-box;
  background-color: var(--ifm-pre-background);
  border-radius: var(--ifm-pre-border-radius);
  color: var(--ifm-pre-color);
  font: var(--ifm-code-font-size) / var(--ifm-pre-line-height)
  var(--ifm-font-family-monospace);
  margin: 0 0 var(--ifm-spacing-vertical);
  padding: var(--ifm-pre-padding);
}


.icon-btn, .search-icon-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
}

.search-icon-btn {
  padding: 15px 5px;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.hero .col {
  text-align: left;
}


.hero .col img {
  width: 100%;
  height: auto;
  max-width: 620px;
  margin: 0 auto;
}


.hero__subtitle {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}



.search-icon-btn svg, .icon-btn svg {
  width: 1.3rem;
  height: 1.3rem;
  display: block;
}

.search-icon-btn:hover svg {

  color: var(--ifm-color-primary);
}

.search-icon-btn span {
  font-size: 0.8rem;
  color: var(--ifm-color-primary-light);
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.search-modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
}

.search-modal-content {
  width: 80%;
  max-width: 600px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.search-modal-content ul {
  max-height: 220px;
  overflow: auto;
}

.search-modal-content .icon-btn {
  padding: 17px 15px 15px 15px;
}

.search-modal-content input, .inp-button {
  width: 100%;
  height: 56px;
  padding: 0 15px;
  border: none;
  border-bottom: 1px solid #CCC;
  font-size: 1.2rem;
  background: #FFF;
  color: #000;
}

.inp-button {
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: text;
}

.inp-button.inp-button--invert {
  color: #7D94AA;
  background-color: #0C1C26;
  border: 1px solid #0C1C26;
}

.search-modal-content input:focus {
  outline: none;
  background: #F1F1F1;
}

.search-modal-content li {
  font-size: 0.9rem;
}

.search-modal-content li a  {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  color: #000;
}

.search-modal-content li a:hover {
  background: #F1F1F1;
}

.footer--dark {
  color: #FFF;
  background: var(--ifm-footer2-background-color);
}

.c-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background: var(--ifm-color-primary-darkest);
  color: #FFF;
  text-decoration: none;
}

.c-button:hover {
  color: #FFF;
  background: var(--ifm-color-primary-darker);
}

.box-text .col + .col {
  padding: 5rem !important;
}

.reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1280px) {
  .column-list {
    column-count: 3;
  }
}


@media screen and (max-width: 996px) {
  .column-list {
    column-count: 4;
  }
}

@media screen and (max-width: 780px) {
  .column-list {
    column-count: 3;
  }
  .hero {
    padding: 0 !important;
  }
  .col.col--6 {
    padding: 2rem var(--ifm-spacing-horizontal) !important;
  }
}

@media screen and (max-width: 580px) {
  .column-list {
    column-count: 2;
  }

}